body {
    font-family: 'EB Garamond', serif;
    color: #b0b3b8;
    text-align: center;
    background-color: #1f2021;
    /* width: 98%; */
}

#skull1, #skull2 {
    position: absolute;
    width: 10rem;
    top: 50%;
    transform: translateY(-50%)
}

@media screen and (max-width: 760px) {
    #skull1, #skull2 {
        opacity: 0;
    }
}

#skull1 {
    left: 10vw;
}

#skull2 {
    right: 10vw;
}

main {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heading {
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px #21201f inset;
    -webkit-box-shadow: 0 0 0 30px #21201f inset;
    -webkit-text-fill-color: #b0b3b8;
}

#age, #sex {
    background-color: #21201f;
    color: #b0b3b8;
    min-width: 150px;
    max-width: 150px;
}

#sex {
    border-radius: 5px;
}

#submit {
    font-size: 1.5rem;
    background-color: #21201f;
    color: #b0b3b8;
    border: 2px solid #83868b;
    margin-left: -13px;
}

#submit:hover {
    border: 2px solid #2f4e79;
}

#results {
    min-height: 75px;
    margin: 65vh auto 0 auto;
    font-size: 1.2rem;
    width: 50%;
}

@media screen and (max-width: 649px) {
    #results {
        margin: 67vh auto 0 auto;
    }
}

@media screen and (max-width: 645px) {
    #results {
        margin: 69vh auto 0 auto;
    }
}

@media screen and (max-width: 645px) {
    #results {
        margin: 69vh auto 0 auto;
    }
}

#copy {
    font-size: 1.2rem;
    margin: 25px auto 0 auto;
    width: 50%;
}

a {
    text-decoration: none;
}

footer {
    min-width: 100vw;
    background-color: #2c333b;
    font-size: 1.2rem;
}

.icon-link {
    color: #b0b3b8;
}

.icon-link:hover {
    color: #83868b;
}